
{% extends "layout.html.twig" %}

{% block title %}
  Supprimer un utilisateur  - {{ parent() }}
{% endblock %}

{% block body %}

  <h2>Supprimer cet utilisateur ?</h2>

  {% if is_granted('ROLE_ADMIN') %}
    <p>
      Etes-vous certain de vouloir supprimer cet utilisateur ?
    </p>

    {# On met l'id de l'annonce dans la route de l'action du formulaire #}
    <form action="{{ path('deleteUser', {'id': user.id}) }}" method="post">
      <a href="{{ path('viewUser', {'id': user.id}) }}" class="btn btn-default">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Retour au profil 
      </a>
      {# Ici j'ai écrit le bouton de soumission à la main #}
      <input type="submit" value="Supprimer" class="btn btn-danger" />
      {# Ceci va générer le champ CSRF #}
      {{ form_rest(form) }}
    </form>

  {% else %}

    <p> Vous ne disposez pas des droits necessaires <p>
      <a href="{{ path('viewUser', {'id': user.id}) }}" class="btn btn-default">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Retour au profil 
      </a>
  {% endif %}


{% endblock %}