{% extends 'layout.html.twig' %}


{% block title %}
  Editer un profil Utilisateur - {{ parent() }}
{% endblock %}

{% block body %}

	<p>
		<a href="{{ path('viewUser',{'id':user.id}) }}" class="btn btn-primary">
	      <i class="glyphicon glyphicon-chevron-left"></i>
	      Retour au Profil Utilisateur
	    </a>
	</p>

	
		

 		<h2>Modification de profil Utilisateur {{user.username}} </h2>
		<div>
			<div class="col-sm-10">
				<div class="well">
			 		{{ form_start(form) }}

			 		{{ form_label(form.username, "Nom d'utilisateur", {'label_attr': {'class': 'col-sm-0 control-label'}}) }}
					{{ form_widget(form.username) }}
					<br/>

					{% if is_granted('ROLE_ADMIN') %}
						{{ form_label(form.roles, "Droits", {'label_attr': {'class': 'col-sm-0 control-label'}}) }}
						{{ form_widget(form.roles) }}
					{% endif %}

					{{ form_label(form.save) }} 
					{{ form_widget(form.save, {'attr': {'class': 'btn btn-success'}}) }}

			        {{ form_rest(form) }}
			   		{{ form_end(form) }} 
				</div>
			</div>
		</div>

   
{% endblock %}
