
{% extends "layout.html.twig" %}

{% block title %}
  Listes des Patient - {{ parent() }}
{% endblock %}
{% block body %}

  <h2>Liste des patients à votre charge </h2>

  <div class="well">
    <ul style="list-style:none;">

      {% for patient in app.user.patients %}

        <li class="noDec" >

          <div id='patientHover{{patient.id}}' class="patientHover" style ="padding:2px;">
            <p id='paraHover{{patient.id}}'>
              <a href="{{ path('viewPatient', {'id': patient.id }) }}" >
                {{ patient.nom | upper}} {{ patient.prenom }}
              </a>
              créé le {{ patient.date|date('d/m/Y') }} 
            </p>
          </div>
                
        </li>

      {% else %}
        <li>Pas de patient à votre charge</li>
      {% endfor %}
        
    </ul>
  </div>


{# Génération des liens appraissants au mouseOver #}
  <script type="text/javascript">
    var liensBimo = new Array();  // Tableau contenant les liens vers la création de BIMO
    var textLiensBimo = new Array(); // Tableau contenant le text du lien
    var divPatients = new Array();  // Tableau des balises <div> dans lesquelles se trouve les liens vers les profils patients
    var paraPatients = new Array();  // Tableau des balises <p> dans lesquelles se trouve les liens vers les profils patients
    // var liensProfil = new Array(); 
    // var textLiensProfil = new Array()
  </script>
  {% for patient in app.user.patients %}

    <script type="text/javascript"> 

      divPatients.push(document.getElementById('patientHover{{patient.id}}'));
      liensBimo.push(document.createElement("a"));
      textLiensBimo.push(document.createTextNode("Créer un BIMO")); // texte du lien

      liensBimo[{{loop.index0}}].href = "{{ path('addBimo', {'idPatient': patient.id }) }}" ;
      liensBimo[{{loop.index0}}].class="lienBimo";
      liensBimo[{{loop.index0}}].style="border-radius:4px; border:solid; border:1px; background-color:rgb(76,174,76); padding:8px; color:rgb(255,255,255)";
      liensBimo[{{loop.index0}}].appendChild(textLiensBimo[{{loop.index0}}]);


      paraPatients.push(document.getElementById('paraHover{{patient.id}}'));

      divPatients[{{loop.index0}}].addEventListener('mouseover', function() {
          //paraPatients[{{loop.index0}}].appendChild(liensProfil[{{loop.index0}}]);
          paraPatients[{{loop.index0}}].appendChild(liensBimo[{{loop.index0}}]);
          divPatients[{{loop.index0}}].style ="padding: 16px;background-color:rgb(200,200,200);border-radius: 5px;cursor:pointer;";    
      });// On pourrait remplacer par this

      divPatients[{{loop.index0}}].addEventListener('mouseleave', function() {
          //paraPatients[{{loop.index0}}].removeChild(liensProfil[{{loop.index0}}]);
          paraPatients[{{loop.index0}}].removeChild(liensBimo[{{loop.index0}}]);
          divPatients[{{loop.index0}}].style ="padding: 2px;";
      });

      divPatients[{{loop.index0}}].addEventListener('click', function() {         
          window.location = "{{ path('viewPatient', {'id': patient.id })|escape('js') }}";
      });

    </script>   
  {% endfor %}  
   



{% endblock %}