{% extends "layout.html.twig" %}

{% block title %}
  Profil Utilisateur
{% endblock %}

{% block body %}

  <div class="well">
    <h4> Profil Utilisateur </h4> 
    <hr/>
    <h2> {{ user.username }} </h2>
    <p> Droit : 
      {% for rols in user.roles %}
        {{user.roles.0}}
      {% else %}
        Cet utilisateur ne possède pas de droit
      {% endfor %}
    </p>

    <p> adresse mail : <strong> {{user.email}} </strong></p>
    <h3>Patients à charges :</h3>
    {% if not user.patients.empty %}
      <p>
        {% for patient in user.patients %}
          <a href="{{ path('viewPatient',{'id':patient.id}) }}" class="btn btn-info pop" style="background-color:#99C210;border:none;">
            <i class="glyphicon glyphicon-user"></i>
            {{ patient.nom }} {{ patient.prenom }}
          </a>
        {% endfor %}
        {% else %}
          aucun Patient à charge
      </p>
    {% endif %}
    <h3>Dernier BIMO modifié :</h3>
    <p>
      {% for userBimo in listUserBimo %}
          <a href="{{ path('viewBimo',{'id':userBimo.bimo.id}) }}" class="btn btn-info pop" style="background-color:#8B2980;border:none;">
              <i class="glyphicon glyphicon-eye-open"></i>
              {{ userBimo.bimo.patient.nom }} {{ userBimo.bimo.patient.prenom }} <br/>
              <i>{{ userBimo.updatedAt|date('d/m/Y H:i:s') }}</i>
          </a>
      {% else %}
        Cet utilisateur ne possède pas de bimo
      {% endfor %}
    </p>
    <br/>
    <p>
      <a href="{{ path('listUser') }}" class="btn btn-primary">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Retour à la liste d'utilisateur
      </a>
      {% if is_granted('ROLE_SUPER_ADMIN') or app.user.username == user.username %}
        <a href="{{ path('editUser',{'id':user.id}) }}" class="btn btn-warning">
          <i class="glyphicon glyphicon-edit"></i>
          Modifier le profil
        </a>
        <a href="{{ path('deleteUser',{'id':user.id}) }}" class="btn btn-danger">
          <i class="glyphicon glyphicon-trash"></i>
          Supprimer le profil 
        </a>
      {% endif %}

    </p>
  </div>
  
  <script>
    $('.pop').mouseover(function(){
        $(this).css('opacity','0.7');
    });
    $('.pop').mouseout(function(){
        $(this).css('opacity','1');
    });
  </script>

{% endblock %}