{% extends 'layout.html.twig' %}

{#  {% stylesheets 'BimoBundle/Resources/public/css/main.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css">

  {% endstylesheets %} #}
{% block title %}
  Editez un séjour d'hospitalisation - {{ parent() }}
{% endblock %}

{% block body %}
	
	{% if is_granted('ROLE_ADMIN') %}
		<p>
			<a href="{{ path('viewHosp', {'id': hosp.id}) }}" class="btn btn-primary">
		      <i class="glyphicon glyphicon-chevron-left"></i>
		      Retour
		    </a>
   		</p>
		<div class="index">
	 		<h2>Modification des dates d'hospitalisation</h2>
  			{{ include("BimoBundle:hosp:formHosp.html.twig") }}
	 	</div>
	{% else %}
    	<p> Vous ne disposez pas des droits necessaires <p>
		<a href="{{ path('viewHosp', {'id': hosp.id}) }}" class="btn btn-default">
  			<i class="glyphicon glyphicon-chevron-left"></i>
  			Retour 
		</a>
	{% endif %}


   
{% endblock %}
