	<div class="col-sm-10">
		<div class="well">
{# 		{{ form_start(form) }}
      <fieldset>
        <legend style="text-align: center;">BIMO</legend>
          {{ form_label(form.save) }} {{ form_widget(form.save, {'attr': {'class': 'btn btn-success'}}) }}
          {{ form_label(form.urgency) }}{{ form_widget(form.urgency) }}
          
      </fieldset>   
    
       {{ form_row(form.medProtos) }} {{ form_widget(form.medProtos,{'attr':{'class': 'form-group row'}}) }} #}
  {{ form_start(form)}}
  {{ form_row(form.patient) }}
  {{ form_row(form.urgency, {'label':'Ce BIMO necessite un traitement urgent'}) }}

  <ul class="medProtos" data-prototype="{{ form_widget(form.medProtos.vars.prototype)|e }}">
    {% for medProto in form.medProtos %}
      <li> {{ form_row(medProto) }} </li>
    {% endfor %}
  </ul>

      
      {# {{ form_widget(form) }} #}
        {{ form_row(form.save) }}

        {# {{ form_end(form, {'render_rest': false}) }} #}
      {{ form_end(form) }}
		</div>
	</div> 


<script type="text/javascript">
  var $collectionHolder;

  // setup an "add a medProto" link
  var $addmedProtoLink = $('<a href="#"   class="btn btn-success">Ajouter une ligne </a>');
  var $newLinkLi = $('<li></li>').append($addmedProtoLink);

  jQuery(document).ready(function() {
      // Get the ul that holds the collection of medProtos
      $collectionHolder = $('ul.medProtos');

       // add a delete link to all of the existing tag form li elements
      $collectionHolder.find('li').each(function() {
          addMedProtoFormDeleteLink($(this));
      });

      // add the "add a medProto" anchor and li to the medProtos ul
      $collectionHolder.append($newLinkLi);

      // count the current form inputs we have (e.g. 2), use that as the new
      // index when inserting a new item (e.g. 2)
      $collectionHolder.data('index', $collectionHolder.find(':input').length);

      $addmedProtoLink.on('click', function(e) {
          // prevent the link from creating a "#" on the URL
          e.preventDefault();

          // add a new medProto form (see next code block)
          addmedProtoForm($collectionHolder, $newLinkLi);
      });
  });
  function addmedProtoForm($collectionHolder, $newLinkLi) {
    // Get the data-prototype explained earlier
    var prototype = $collectionHolder.data('prototype');

    // get the new index
    var index = $collectionHolder.data('index');

    var newForm = prototype;
    // You need this only if you didn't set 'label' => false in your medProtos field in TaskType
    // Replace '__name__label__' in the prototype's HTML to
    // instead be a number based on how many items we have
    // newForm = newForm.replace(/__name__label__/g, index);

    // Replace '__name__' in the prototype's HTML to
    // instead be a number based on how many items we have
    newForm = newForm.replace(/__name__/g, index);

    // increase the index with one for the next item
    $collectionHolder.data('index', index + 1);

    // Display the form in the page in an li, before the "Add a medProto" link li
    var $newFormLi = $('<li></li>').append(newForm);
    $newLinkLi.before($newFormLi);

    addMedProtoFormDeleteLink($newFormLi);
  }

  function addMedProtoFormDeleteLink($medProtoFormLi) {
      var $removeFormA = $('<a href="#" class="btn btn-danger" >Supprimer la ligne</a>');
      $medProtoFormLi.append($removeFormA);

      $removeFormA.on('click', function(e) {
          // prevent the link from creating a "#" on the URL
          e.preventDefault();

          // remove the li for the medProto form
          $medProtoFormLi.remove();
      });
  }
</script>

{# 
  ********************************************************** passed*******************************

{# On charge la bibliothèque jQuery. Ici, je la prends depuis le CDN google
   mais si vous l'avez en local, changez simplement l'adresse. #}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

{# Voici le script en question : #}
<script type="text/javascript">
  // $(document).ready(function() {
  //   // On récupère la balise <div> en question qui contient l'attribut « data-prototype » qui nous intéresse.
  //   var $container = $('div#bimobundle_bimo_medProtos');

  //   // On ajoute un lien pour ajouter un nouveau MedProto
  //   var $addLink = $('<a href="#" id="add_medProto" class="btn btn-success">Ajouter un med protocol</a>');
    
  //   // On ajoute un nouveau champ à chaque clic sur le lien d'ajout.
  //   $addLink.click(function(e) {
  //     addMedProto($container);
  //     e.preventDefault(); // évite qu'un # apparaisse dans l'URL
  //     return false;
  //   });

  //   // On définit un compteur unique pour nommer les champs qu'on va ajouter dynamiquement
  //   var index = $container.find(':input').length;
  //   $container.append($addLink);
  //   // On ajoute un premier champ automatiquement
  //   if (index == 0) {
  //     addMedProto($container);
  //   } 
  //   else {
  //     // Pour chaque MedProto déjà existante, on ajoute un lien de suppression
  //     $container.children('div').each(function() {
  //       addDeleteLink($(this));
  //     });
  //   }

  //   // La fonction qui ajoute un formulaire MedProto
  //   function addMedProto($container) {
  //     // Dans le contenu de l'attribut « data-prototype », on remplace :
  //     // - le texte "__name__label__" qu'il contient par le label du champ
  //     // - le texte "__name__" qu'il contient par le numéro du champ
  //     var $prototype = $($container.attr('data-prototype').replace(/__name__label__/g, 'MedProto n°' + (index+1))
  //         .replace(/__name__/g, index));

  //     $container.append($addLink);
    
  //     // On ajoute le prototype modifié à la fin de la balise <div>
  //     $container.append($prototype);

  //     // Enfin, on incrémente le compteur pour que le prochain ajout se fasse avec un autre numéro
  //     index++;
  //     // On ajoute au prototype un lien pour pouvoir supprimer le MedProto
  //     addDeleteLink($prototype);
  //   }

  //   // La fonction qui ajoute un lien de suppression d'un medProto
  //   function addDeleteLink($prototype) {
  //     // Création du lien
  //     $deleteLink = $('<a href="#" class="btn btn-danger">Supprimer</a>');

  //     // Ajout du lien
  //     $prototype.append($deleteLink);

  //     // Ajout du listener sur le clic du lien
  //     $deleteLink.click(function(e) {
  //       $prototype.remove();
  //       e.preventDefault(); // évite qu'un # apparaisse dans l'URL
  //       return false;
  //     });
  //   }
  // });

</script> 