	<div class="col-sm-25">
		<div class="well">

      {{ form_start(form)}}
      {{ form_row(form.patient) }}
      {{ form_row(form.urgency, {'label':'Ce BIMO necessite un traitement urgent'}) }}

      {# <div id='site_medProtos' data-prototype="{% filter escape %}{% include 'BimoBundle:Bimo:formMedProto.html.twig' with {'form': form.medProtos.vars.prototype} %}{% endfilter %}"> #}
{# 
        {% for medProto in form.medProtos %}
            {% include 'BimoBundle:Bimo:formMedProto.html.twig' with {'form': medProto} %}
        {% endfor %}
 #}
      
      <ul class="medProtos" data-prototype="{{ form_widget(form.medProtos.vars.prototype)|e('html_attr') }}">
        {# iterate over each existing tag and render its only field: name #}
        {% for medProto in form.medProtos %}

            <li>
            {{ form_row(medProto.nomBefore, {'id' : 'liste1'} ) }}
            {{ form_row(medProto.dosage, {'id' : 'liste2'}) }}
            {{ form_row(medProto.formBefore, {'id' : 'liste2'}) }}
            {{ form_row(medProto.poseBefore, {'id' : 'liste2'}) }}
            {{ form_row(medProto.nom, {'id' : 'liste2'}) }}
            {{ form_row(medProto.dosageBefore, {'id' : 'liste2'}) }}
            {{ form_row(medProto.poso, {'id' : 'liste2'}) }}
            {{ form_row(medProto.forme, {'id' : 'liste2'}) }}
            {{ form_row(medProto.divergence, {'id' : 'liste2'}) }}
            {{ form_row(medProto.source, {'id' : 'liste2'}) }}
            {{ form_row(medProto.divergenceType, {'id' : 'liste2'}) }}
            {{ form_row(medProto.severity, {'id' : 'liste2'}) }}
            {{ form_row(medProto.proposition, {'id' : 'liste2'}) }}
            {{ form_row(medProto.comment, {'id' : 'liste2'}) }}

            {{ form_row(medProto.medStartBefore, {'id' : 'liste2'}) }}
            {{ form_row(medProto.medEndBefore, {'id' : 'liste2'}) }}
            {{ form_row(medProto.dateMedBefore) }}

            {{ form_row(medProto.medStartHosp, {'id' : 'liste2'}) }}
            {{ form_row(medProto.medEndHosp, {'id' : 'liste2'}) }}
            {{ form_row(medProto.dateMedHosp, {'id' : 'liste2'}) }}

          </li>

        {% endfor %}
       </ul>
      {# </div> #}
      
      {# {{ form_widget(form) }} #}
      {{ form_row(form.save) }}

      {# {{ form_end(form, {'render_rest': false}) }} #}
      {{ form_end(form) }}

		</div>
	</div> 


<script type="text/javascript">
  var $collectionHolder;

  // setup an "add a medProto" link
  var $addmedProtoLink = $('<a href="#"   class="btn btn-success">Ajouter une ligne </a>');
  var $newLinkLi = $('<li></li>').append($addmedProtoLink);

  jQuery(document).ready(function() {
      // Get the ul that holds the collection of medProtos
      $collectionHolder = $('ul.medProtos');

       // add a delete link to all of the existing tag form li elements
      $collectionHolder.find('li').each(function() {
          addMedProtoFormDeleteLink($(this));
      });

      // add the "add a medProto" anchor and li to the medProtos ul
      $collectionHolder.append($newLinkLi);

      // count the current form inputs we have (e.g. 2), use that as the new
      // index when inserting a new item (e.g. 2)
      $collectionHolder.data('index', $collectionHolder.find(':input').length);


      $addmedProtoLink.on('click', function(e) {
          // prevent the link from creating a "#" on the URL
          e.preventDefault();

          // add a new medProto form (see next code block)
          addmedProtoForm($collectionHolder, $newLinkLi);
      });
  });
  function addmedProtoForm($collectionHolder, $newLinkLi) {
    // Get the data-prototype explained earlier
    var prototype = $collectionHolder.data('prototype');
    console.log($collectionHolder);
    // get the new index
    var index = $collectionHolder.data('index');
    var newForm = prototype;
    console.log(index)
    // You need this only if you didn't set 'label' => false in your medProtos field in TaskType
    // Replace '__name__label__' in the prototype's HTML to
    // instead be a number based on how many items we have
    // newForm = newForm.replace(/__name__label__/g, index);

    // Replace '__name__' in the prototype's HTML to
    // instead be a number based on how many items we have
    newForm = newForm.replace(/__name__/g, index);

    // increase the index with one for the next item
    $collectionHolder.data('index', index + 1);

    // Display the form in the page in an li, before the "Add a medProto" link li
    var $newFormLi = $('<li></li>').append(newForm);
    $newLinkLi.before($newFormLi);

    addMedProtoFormDeleteLink($newFormLi);
  }

  function addMedProtoFormDeleteLink($medProtoFormLi) {
      var $removeFormA = $('<a href="#" class="btn btn-danger" >Supprimer la ligne</a>');
      $medProtoFormLi.append($removeFormA);

      $removeFormA.on('click', function(e) {
          // prevent the link from creating a "#" on the URL
          e.preventDefault();

          // remove the li for the medProto form
          $medProtoFormLi.remove();
      });
  }
</script>

{# 
  ********************************************************** passed*******************************

{# On charge la bibliothèque jQuery. Ici, je la prends depuis le CDN google
   mais si vous l'avez en local, changez simplement l'adresse. #}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<style type="text/css">

.containeurMedProto
{
  display :flex;
  justify-content:  space-around;
  flex-direction: column; 
}
  .containeurMedChoice:nth-child(1)
  {
    display :flex;
    justify-content:  space-around;
    
  }
    .beforeHosp:nth-child(1)
    {
      padding: 2%;
      flex:   1;
    }
    .duringHosp:nth-child(2)
    {
      padding: 2%;
      flex:   1;
    }
  .containeurTreatment:nth-child(3)  /* 3 car il ya le titre avant*/
  {
    display :flex;
    justify-content:  space-around;
    
  }
    .divergenceAndAll:nth-child(1)
    {
      padding: 2%;
      flex:   4;
    }

    .medAndPharmaComment:nth-child(2)
    {
      padding: 2%;
      flex:   5;
    }
/*
    .testTitre:nth-child(3)
    {
      padding: 2%;
      flex:   1;
    }*/



</style>