

{% extends "layout.html.twig" %}

{% block title %}
  Vue Bimo - {{ parent() }}
{% endblock %}

{% block body %}

  <h2>Fiche BIMO </h2>

    <a href="{{ path('pdfBimo', {'id': bimo.id} ) }}" style="background-color:rgb(76,174,76);border-color:rgb(76,174,76);" class="btn btn-warning">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Extraire sous Format PDF
      <i class="glyphicon glyphicon-chevron-right"></i>
    </a>

  <hr />
  <p>
    Patient : <strong>{{bimo.patient.prenom}} {{bimo.patient.nom}} </strong>

    <a class="btn btn-primary" href="{{ path('viewPatient', {'id': bimo.patient.id, 'idBimo': bimo.id }) }}">
      <i class="glyphicon glyphicon-chevron-right"></i>
    Voir le profil
    </a>

    <br/>
    Date de Création : {{bimo.date|date('d/m/Y')}}
  </p> 
  <br/>


  <table id="tableau" >
    <thead>

      <tr>
        <th class="borderR"><strong></strong></th>
        <th class="borderR" colspan="4"><strong>Traitement HABITUEL AVANT hospitalisation :</strong></th>
        <th class="borderR" colspan="4"><strong>TRAITEMENT HOSPITALISATION :</strong></th>
        <th colspan="5"><strong>CONCERTATION Médecin /Pharmacien :</strong></th>
      </tr>
      <tr> 
        <th class="borderR"><strong>Sources </strong></th>
        <th><strong>Medicament </strong></th>
        <th><strong>Dosage </strong></th>
        <th><strong>Forme </strong></th>
        <th class="borderR"><strong>posologie </strong></th>
        <th><strong>Medicament </strong></th>
        <th><strong>Dosage </strong></th>
        <th><strong>Forme</strong></th>
        <th class="borderR"><strong>posologie </strong></th>
        <th><strong>Divergence </strong></th>
        <th><strong>Type de divergence </strong></th>
        <th><strong>Gravité </strong></th>
        <th class='propCom'><strong>Proposition du pharmacien </strong></th>
        <th class='propCom'><strong>Commentaire du medecin </strong></th>
      </tr>
    </thead>
    <tbody>

      {% for medProto in bimo.medProtos %}

        <tr id='medProto{{medProto.id}}' > 
          <td rowspan="2" class="borderR">{{medProto.source}}</td>
          <td>{{medProto.nomBefore}}</td>
          <td>{{medProto.dosageBefore}}</td>
          <td>{{medProto.formBefore}}</td>
          <td class="borderR">{{medProto.poseBefore}}</td>
          <td>{{medProto.nom}}</td>
          <td>{{medProto.dosage}}</td>
          <td>{{medProto.forme}}</td>
          <td class="borderR">{{medProto.poso}}</td>
          <td rowspan="2">{{medProto.divergence}}</td>
          <td rowspan="2">{{medProto.divergenceType}}</td>
          <td rowspan="2" >{{medProto.severity}}</td>    
          <td rowspan="2" class='propCom'style="min-width: 250px;max-width: 250px;word-wrap: break-word;">{{medProto.proposition}}</td>
          <td rowspan="2" class='propCom' style="min-width: 250px;max-width: 250px;word-wrap: break-word;">{{medProto.comment}}</td>
        </tr>
        <tr id='medProto{{medProto.id}}' > 

          <td colspan="4" class="borderR">
            <i>
              {% if not medProto.dateMedBefore %}
                  Prise : du {{medProto.medStartBefore|date('d/m/Y')}} au {{medProto.medEndBefore|date('d/m/Y')}}
              {% else %}
                  Pas de dates de prise du médicament indiquées !
              {% endif %}
            </i>
          </td>

          <td colspan="4" class="borderR">
            <i>
              {% if not medProto.dateMedHosp %}
                  Prise : du {{medProto.medStartHosp|date('d/m/Y')}} au {{medProto.medEndHosp|date('d/m/Y')}}
              {% else %}
                  Pas de dates de prise du médicament indiquées !
              {% endif %}
            </i>
          </td>
        </tr>
      {% endfor %}



{#       <tr class="test42bis">
        <td colspan="14" > 
          <a href="{{ path('addMedProto', {'idBimo': bimo.id} ) }}"  >
            caaaaaaaaaca 1
          </a>
        </td>
      </tr>
      <tr class="test42bis">
        <td colspan="14" > 
          <a href="{{ path('addMedProto', {'idBimo': bimo.id} ) }}"  >
            caaaaaaaaaca 2
          </a>
        </td>
      </tr>
 #}

      <tr>
        <td colspan="14" id="newLine"> 
          <a href="{{ path('addMedProto', {'idBimo': bimo.id} ) }}"  >
            <i class="glyphicon glyphicon-chevron-right"></i>
            Ajouter une ligne
          </a>
        </td>
      </tr>

      </tbody>
    </table>

  <hr/>
  <p>
    <a href="{{ path('listBimo') }}" class="btn btn-primary">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à la liste des BIMOs
    </a>
    <a href="{{ path('editBimo', {'id': bimo.id} ) }}" class="btn btn-warning">
      <i class="glyphicon glyphicon-edit"></i>
      Modifier la Bimo
    </a>
    <a href="{{ path('deleteBimo', {'id': bimo.id} ) }}" class="btn btn-danger">
      <i class="glyphicon glyphicon-trash"></i>
      Supprimer la Bimo
    </a>
  </p>
  
<script type="text/javascript">
  // Création du lien pour ajouter une logne
  var line = document.getElementById('newLine');
  //var line = document.getElementsByClassName    ('newLine');
  var route = "{{  path('addMedProto', {'idBimo': bimo.id} )|escape('js') }}";
  line.addEventListener('click', function() {         
     window.location = route;
  });
  line.addEventListener('mouseover', function() {         
    line.style = "cursor:pointer;"
  });

  // créations des liens pour modifier chaque ligne
  var lienMedProto = new Array();

  {% for medProto in bimo.medProtos %}

    lienMedProto.push(document.getElementById('medProto{{medProto.id}}'));

    lienMedProto[{{loop.index0}}].addEventListener('mouseover', function() {
      lienMedProto[{{loop.index0}}].style ="cursor:pointer;";    
    });

    lienMedProto[{{loop.index0}}].addEventListener('click', function() {         
        window.location = "{{ path('editMedProto', {'id': medProto.id })|escape('js') }}";
    });

  {% endfor %}
</script>
{% endblock %}
